body {
  margin: 0;
  font-family: Arial;
  background: #eef1f5;
}

h1 {
  margin: 0;
  padding: 15px;
  text-align: center;
  background: #1f2937;
  color: white;
}

.topbar {
  text-align: right;
  padding: 10px 20px;
}

button {
  padding: 8px 14px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background: #1e40af;
}

input, textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

.center {
  width: 350px;
  margin: 40px auto;
}

.big {
  width: 70%;
  margin: 30px auto;
}

textarea {
  height: 220px;
}

.btnRow {
  text-align: center;
  margin-top: 15px;
}

.centerText {
  text-align: center;
}

/* notebook */

.notebook {
  width: 80%;
  margin: 20px auto;
  background: #fffef8;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.note {
  background: repeating-linear-gradient(
    to bottom,
    #fffef8,
    #fffef8 28px,
    #cfd8ff 29px
  );
  border-left: 5px solid #2563eb;
  padding: 12px;
  margin-bottom: 18px;
  line-height: 28px;
  border-radius: 4px;
}